@mixin useBackgroundLight {
  &.green {
    background: $greenLight;
  }

  &.blue {
    background: $blueLight;
  }

  &.red {
    background: $redLight;
  }

  &.yellow {
    background: $yellowLight;
  }
}