$white: #FFFFFF;
$black: #000000;
$purple: #B727E3;
$gray: #71717A;
$green: #1BC5BD;
$blue: #3699FF;
$red: #F64E60;
$yellow: #F99E26;
$blackAlt: #09090B;
$purpleLight: #CD68EC;
$blackLight: #464E5F;
$grayLight: #F3F6F9;
$greenLight: #C9F7F5;
$blueLight: #E5F2FF;
$redLight: #FFE2E5;
$yellowLight: #FFF4DE;
$grayLightAlt: #B5B5C3;
$bodyApp: #F3F6F9;
$linesAndStroke: #E4E4E7;