@mixin theInputStyle {
  padding: rem(8) rem(16);
  border: rem(1) solid $linesAndStroke;
  border-radius: rem(4);
  background: $white;
  width: 100%;
  transition: all 0.5s;

  &:hover, 
  &:focus {
    border: rem(1) solid $purple;
  }

  &.disabled {
    background: $grayLight;
    opacity: .6;
    cursor: not-allowed;

    &:hover,
    &:focus {
      border: none;
    }
  }
}